/* Resets */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Layout */

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

header,
main {
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

/* Components */

body {
  font-family: 'Fira Sans';
  font-weight: 300;
}

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  background-image: linear-gradient(to bottom, #1e1d27, #48475f);

  color: #aeaeb0;
  font-size: 1.4rem;
  text-align: right;
}

.intro {
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 215px;
  width: 550px;

  /* 145x160 */
  background-image: url('headshot.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 220px 176px;
}

.intro em {
  color: #f1f2ed;
  font-style: normal;
}

.intro p + p {
  margin-top: 0.6rem;
}

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  position: relative;

  background-color: #272726;
}

main:before,
main:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
}

main:before {
  height: 47px;
  width: 86px;
  top: -47px;
  margin-left: -43px;

  background-image: url('cutout.svg');
}

main:after {
  height: 64px;
  width: 56px;
  top: -32px;
  margin-left: -28px;

  background-image: url('logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 56px 64px;
}

.actions,
.social {
  -webkit-flex: 1 64px;
      -ms-flex: 1 64px;
          flex: 1 64px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

/* Actions */

.actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions a {
  display: block;
  height: 44px;
  width: 200px;

  border: 1px solid #848582;
  border-radius: 3px;

  color: #b6b6af;
  font-size: 1.8rem;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.actions a.primary {
  background-color: #b6519a;
  border-color: #302f3f;

  color: #fff;
}

.actions a + a {
  margin-left: 32px;
}

/* Social */

.social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social a {
  height: 44px;
  width: 40px;

  background-size: 40px 44px;
}

.social a + a {
  margin-left: 16px;
}

.social-twitter  { background-image: url('social-twitter.png'),  url('social.svg'); }
.social-github   { background-image: url('social-github.png'),   url('social.svg'); }
.social-codepen  { background-image: url('social-codepen.png'),  url('social.svg'); }
.social-dribbble { background-image: url('social-dribbble.png'), url('social.svg'); }

/* Copyright */

.copyright {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;

  color: #9d9e9a;
  font-size: 1.2rem;
  text-align: center;
}
